body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.styled {
  color: red;
  text-transform: uppercase;
}

.carsTable {
  font-family: "Trebuchet MS" Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:  60%;
  margin: 20px auto;
}

.carsTable td, .carsTable th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 33%;
  text-align: center;
}

.carsTable tr:hover {background-color: #ddd;}

.carsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(24, 99, 160);
  color: white;
}